[PAN-FW]
# Contains the API key of the palo alto firewall in order to update dynamic registrations
Token=abcd
# url of firewall (without the /api endpoint) e.g. https://mypaloaltofw1.on2it.net
# for multiple seperate by comma
URL=http://localhost
# Amount of seconds the label registration should persist. Should be higher than `FullReSync`.This is a PanOS >=9 feature.
RegisterExpire=910

[SYNC]
# Kubernetes Namespaces to watch, seperated by a comma. Leave empty for all namespaces
Namespace=
# Labels to sync, seperated by a `,` Leave empty for all labels. e.g.: `k8s-app,app`
LabelKeys=k8s-app,app
# Full sync of current state in seconds. 0 is only startup.
FullResync=300
# Boolean. Send a clear all for dynamic registrations on startup. Please use RegisterExpire on PanOS 9 or higher.
ClearAllRegisteredOnStart=false
# Prefix label keys (optional)
PrefixLabelKeys=